In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("creditcard.csv")
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [4]:
df.duplicated().sum()

1081

In [5]:
df=df.drop_duplicates()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283726 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    283726 non-null  float64
 1   V1      283726 non-null  float64
 2   V2      283726 non-null  float64
 3   V3      283726 non-null  float64
 4   V4      283726 non-null  float64
 5   V5      283726 non-null  float64
 6   V6      283726 non-null  float64
 7   V7      283726 non-null  float64
 8   V8      283726 non-null  float64
 9   V9      283726 non-null  float64
 10  V10     283726 non-null  float64
 11  V11     283726 non-null  float64
 12  V12     283726 non-null  float64
 13  V13     283726 non-null  float64
 14  V14     283726 non-null  float64
 15  V15     283726 non-null  float64
 16  V16     283726 non-null  float64
 17  V17     283726 non-null  float64
 18  V18     283726 non-null  float64
 19  V19     283726 non-null  float64
 20  V20     283726 non-null  float64
 21  V21     283726 non-null  float64
 22  V22     283726 non-null  float64
 23  V23     283726 non-null  float64
 24  V24     283726 non-null  float64
 25  V25     283726 non-null  float64
 26  V26     283726 non-null  float64
 27  V27     283726 non-null  float64
 28  V28     283726 non-null  float64
 29  Amount  283726 non-null  float64
 30  Class   283726 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 69.3 MB

In [7]:
df["Class"].value_counts()

0    283253
1       473
Name: Class, dtype: int64

In [8]:
legit = df [df.Class == 0]
fraud = df[df.Class == 1]

In [9]:
df.shape

(283726, 31)

In [10]:
print (legit.shape)
print (fraud.shape)

(283253, 31)
(473, 31)

In [11]:
legit.Amount.describe()

count    283253.000000
mean         88.413575
std         250.379023
min           0.000000
25%           5.670000
50%          22.000000
75%          77.460000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     473.000000
mean      123.871860
std       260.211041
min         0.000000
25%         1.000000
50%         9.820000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#select random legit transactions
legit = legit.sample (n=473)

In [14]:
legit.shape

(473, 31)

In [15]:
# build a sample dataset that has similar distribution

In [16]:
new_dataset = pd.concat([legit,fraud],axis = 0)

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
254979,157008.0,-0.224765,-0.377304,1.809040,-1.943051,-0.838307,0.355962,-0.554839,0.364794,-0.717171,...,-0.004688,0.276819,0.099171,0.739744,-0.575900,0.440104,0.024067,0.042563,45.90,0
162729,115326.0,-1.954772,0.947612,0.894828,0.212382,-1.107951,0.636511,-1.458287,1.556969,-1.820621,...,0.080566,0.302681,-0.391704,0.686829,0.529447,-0.250403,-0.448579,-0.195118,5.70,0
89900,62777.0,0.736055,-0.423105,0.280255,1.521043,-0.739431,-0.982784,0.463617,-0.284605,-0.061795,...,0.240533,0.182956,-0.285509,0.727483,0.538996,-0.326837,-0.027806,0.068051,250.00,0
140267,83631.0,-0.538676,-0.905192,0.101164,-4.476659,0.908856,3.310560,-0.257508,0.849598,0.189092,...,-0.203047,-0.404359,0.137586,0.957046,0.223409,-0.840139,0.147609,0.126983,150.72,0
271937,164822.0,-1.205619,0.561103,0.090683,-0.996389,1.303580,0.960839,0.528490,0.667144,-0.187476,...,-0.154422,-0.247888,0.010575,-1.660804,-0.242029,0.377493,-0.076063,-0.155838,19.22,0

In [18]:
new_dataset.shape

(946, 31)

In [19]:
new_dataset["Class"].value_counts()

0    473
1    473
Name: Class, dtype: int64

In [20]:
#splitting data set into features and target
x = new_dataset.drop(["Class"], axis = 1)
y = new_dataset["Class"]

In [21]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
254979,157008.0,-0.224765,-0.377304,1.809040,-1.943051,-0.838307,0.355962,-0.554839,0.364794,-0.717171,...,-0.446653,-0.004688,0.276819,0.099171,0.739744,-0.575900,0.440104,0.024067,0.042563,45.90
162729,115326.0,-1.954772,0.947612,0.894828,0.212382,-1.107951,0.636511,-1.458287,1.556969,-1.820621,...,-0.748046,0.080566,0.302681,-0.391704,0.686829,0.529447,-0.250403,-0.448579,-0.195118,5.70
89900,62777.0,0.736055,-0.423105,0.280255,1.521043,-0.739431,-0.982784,0.463617,-0.284605,-0.061795,...,0.346534,0.240533,0.182956,-0.285509,0.727483,0.538996,-0.326837,-0.027806,0.068051,250.00
140267,83631.0,-0.538676,-0.905192,0.101164,-4.476659,0.908856,3.310560,-0.257508,0.849598,0.189092,...,0.052052,-0.203047,-0.404359,0.137586,0.957046,0.223409,-0.840139,0.147609,0.126983,150.72
271937,164822.0,-1.205619,0.561103,0.090683,-0.996389,1.303580,0.960839,0.528490,0.667144,-0.187476,...,-0.192006,-0.154422,-0.247888,0.010575,-1.660804,-0.242029,0.377493,-0.076063,-0.155838,19.22

In [22]:
y

254979    0
162729    0
89900     0
140267    0
271937    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 946, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split (x,y, stratify = y, test_size = 0.2, random_state = 5)

In [25]:
#always ensure your train data is always more than the test

In [26]:
#80% to train, and 20% to test
print (x.shape, x_train.shape, x_test.shape)

(946, 30) (756, 30) (190, 30)

# MODEL TRAINING

In [27]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit (x_train, y_train)

LogisticRegression()

In [28]:
train_score = model.score (x_train, y_train)
print ("Accuracy Score On Training Data:", train_score)

Accuracy Score On Training Data: 0.9417989417989417

In [29]:
test_score = model.score (x_test, y_test)
print ("Accuracy Score On Test Data:", test_score)

Accuracy Score On Test Data: 0.9473684210526315

In [30]:
# when the train score is high than the test score, then there is a problem somewhere

In [31]:
prediction = model.predict(x_test)
prediction

array([0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

# Build A PREDICTING SYSTEM

In [32]:
input_data = (0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,0.0907941719789316,-0.551599533260813,-0.617800855762348,-0.991389847235408,-0.311169353699879,1.46817697209427,-0.470400525259478,0.207971241929242,0.0257905801985591,0.403992960255733,0.251412098239705,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62,)

data = np.array(input_data)

input_data_reshaped= data.reshape (1,-1)

prediction = model.predict(input_data_reshaped)
print (prediction)

if (prediction == 0):
    print ("This Is A Legit Transaction")
else:
    print ("This is a Fradulent Transaction")

[0]
This Is A Legit Transaction

C:\Users\RICKY\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [33]:
# saving the trained model
import pickle

In [34]:
filename = "trained_model.sav"
pickle.dump(model,open (filename,"wb"))

In [36]:
#loading the saved model
loaded_model = pickle.load (open("trained_model.sav","rb"))